
/* Основные стили для сайта */
body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #fff;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 50px 0;
}

header h1 {
  font-size: 50px;
  color: #FF0000;
}

header p {
  font-size: 20px;
}

/* Стили для меню */
.menu {
  background-color: #333;
  padding: 20px;
  text-align: center;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu ul li {
  margin: 10px 0;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

/* Стили для категорий */
.categories {
  padding: 40px 0;
  text-align: center;
}

.categories h2 {
  font-size: 30px;
  color: #FF0000;
}

.categories ul {
  list-style-type: none;
  padding: 0;
}

.categories ul li {
  margin: 20px 0;
}

.categories ul li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

/* Стили для IP сервера (удалено) */
.server-ip {
  display: none;
}
