body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* Верхний блок с фоном и названием */
.header {
  background: url('https://raw.githubusercontent.com/TomBirdi910/media-partner-site/main/7b2708ae-5730-4d50-8b40-d1ecd1b1e227.jfif') no-repeat center center;
  background-size: cover; /* Изображение заполняет весь блок */
  text-align: center;
  padding: 100px 0; /* Увеличим отступы, чтобы фон был более заметен */
}

.header h1 {
  font-size: 50px;
  color: white;
  margin: 0;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7); /* Добавляем тень для текста, чтобы он был виден на фоне */
}

/* Основной контент */
.main-content {
  padding: 20px;
  text-align: center;
}

/* Стили для категорий */
.departments {
  margin: 50px 0;
}

.departments h2 {
  font-size: 30px;
  color: #FF0000;
}

.departments ul {
  list-style-type: none;
  padding: 0;
}

.departments ul li {
  margin: 20px 0;
}

.departments ul li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  border-bottom: 2px solid #FF0000;
  padding: 10px;
}

/* Стили для дополнительной информации */
.info {
  margin-top: 40px;
}

.info p {
  font-size: 20px;
  color: #ccc;
}

/* Стили для адаптивности */
@media (max-width: 768px) {
  .header h1 {
    font-size: 30px;
  }

  .departments ul li a {
    font-size: 18px;
  }
}
