
/* Стиль для основного меню */
.menu {
  display: none;
  background-color: #333;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  padding-top: 20px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu ul li {
  margin: 20px 0;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
}

/* Стиль для гамбургер-меню */
.hamburger-icon {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
}

.menu-open {
  display: block;
}

body {
  font-family: Arial, sans-serif;
}
